
.adminLi{
    display: inline-block;
    margin: 15px 30px;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
    background-color: #03639e;
}

a{
    text-decoration: none;
    /* color:black */
}

.logout{
    position: absolute;
    top: 0;
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    color: white;
    margin-top: 15px;
    margin-left: 450px;

    
}

