.home{
    flex: 4;
}

.homeWidgets{
    display: flex;
    margin: 20px;
    position: relative;
}

.logout{
    position: absolute;
    top: 0;
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    color: white;
    margin-top: 15px;

    
}