
.lineUp {
    animation: 2s anim-lineUp ease-out;
  }
  /* @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  } */

  #tit{
      display: flex;
      justify-content: center;
      align-items: center;
      color: silver;
      font-size: 50px;
      font-weight: bold;
  }